.children{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top:5rem;
    background-color: var(--bg-default);
    height: 100%;
}

.layout{
    display: flex;
}

@media only screen and (max-width: 600px) {
    .children {
        margin-left: 0;
    }
}
