.top-navbar{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-secondary);
    height: 5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.top-navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.top-navbar-link{
    width: 4rem;
    text-align: center;
    text-decoration: none;
}

.top-navbar-link a{
    color: var(--text-primary);
}

.top-navbar-link:hover{
    color: var(--text-secondary);
}

